.coverage
.tox
__pycache__
*.egg
*.egg-info
*.pyc
*.pyo
.*.swp
.*.swo
*~
*#
build/
dist/
sessions/
env
venv/
nosetests.xml
coverage.xml
.idea/
revision.txt
.mypy_cache
src/eduid/scimapi/test-scripts/dev/
src/eduid/scimapi/test-scripts/staging/
eduid-backend.code-workspace
.venv
.worktrees
