sudo: required
dist: xenial
language: python
python:
  - "3.7"
services:
  - docker
before_install:
  - docker pull docker.sunet.se/eduid/mongodb:latest
# command to install dependencies
install:
  - pip install -U setuptools wheel mypy
  - pip install --index-url https://pypi.sunet.se -r test_requirements.txt
# command to run tests
script:
  - pip freeze
  - make test
  - make typecheck
