sudo: required
language: python
python:
  - "2.7"
  - "3.6"
before_install:
  - docker pull docker.sunet.se/eduid/redis:latest
  - docker pull docker.sunet.se/eduid/mongodb:latest
# Have Travis CI start mongodb and redis for us
services:
  - docker
# command to install dependencies
install:
  - pip install -U setuptools
  - python setup.py testing
# command to run tests
script:
  - nosetests
