eduid-am>=0.7.9
eduid-common[webapp]>=0.21.0,==0.21.*
eduid-msg>=0.10.9
eduid-userdb>=0.8.1,==0.8.*
eduid_lookup_mobile>=0.1.2
eduid_scimapi==0.3.*
pysaml2>=6.3.0,==6.*
Babel>=2.6.0
Flask>=1.1,<1.2
Pillow>=3.0.0
bleach>=2.1.4
cryptography>=2.0.3
flask-babel>=0.11.2
hammock>=0.2.4
html5lib>=1.0.1
idna>=2.1,<2.8
marshmallow-enum==1.5.*
marshmallow>=3.0,==3.*
oic>=1.2.1
proquint==0.2.1
pyOpenSSL>=17.3.0
pynacl>=1.0.1
python-etcd>=0.4.3
python-jose>=3.0.1
python-u2flib-server>=5.0.0
qrcode>=5.1
redis>=2.10.5
urllib3>=1.21.1
xhtml2pdf>=0.2.2
zxcvbn>=4.4.27,==4.*
