eduid-userdb>=0.4.6b15
eduid-common[webapp]>=0.4.5
eduid-am>=0.7.3
eduid-msg>=0.10.9
eduid_lookup_mobile>=0.1.2
Flask>=1.1,<1.2
redis>=2.10.5
pynacl>=1.0.1
urllib3>=1.21.1
python-etcd>=0.4.3
Pillow>=3.0.0
marshmallow>=2.15.1,==2.*
Babel>=2.6.0
flask-babel>=0.11.2
oic>=0.8.3
zxcvbn>=4.4.27,==4.*
pysaml2>=4.9.0,==4.*
xhtml2pdf>=0.2.2
hammock>=0.2.4
qrcode>=5.1
python-jose>=3.0.1
python-u2flib-server>=5.0.0
cryptography>=2.0.3
pyOpenSSL>=17.3.0
proquint==0.2.1
bleach>=2.1.4
html5lib>=1.0.1
idna>=2.1,<2.8
