# Set the maximum line length to 120.
line-length = 120
target-version = "py313"

[lint]
select = [
  "ANN",
  "ASYNC",
  "B",
  "E",
  "ERA",
  "F",
  "FAST",
  "FLY",
  "FURB",
  "I",
  "PERF",
  "PGH",
  "PIE",
  "PL",
  "SIM",
  "UP",
  "W",
]

ignore = [
  "B009",     # will require type generics for conf in EduIDBaseApp (refactor)
  "E501",     # length of lines, fixed during formatting
  "PLR09",    # rule set for complexity checks
  "PLC0415",  # non top level imports
  "SIM1",
  "SIM3",
]

[lint.flake8-annotations]
allow-star-arg-any = true

[lint.per-file-ignores]
"**/test_*.py" = ["PLR2004"]