
{% trans invite_link=invite_link, inviter_name=inviter_name %}
    You have been invited to create an eduID account by {{ inviter_name }}.

    Please follow the link below to accept the invite and create your account.

    {{ invite_link }}

    (This is an automated email. Please do not reply.)
{% endtrans %}

