{% macro input(user_dict) -%}
    <tr>
        <th>eppn:</th>
        <td>{{ user_dict.eduPersonPrincipalName }}</td>
    </tr>
    <tr>
        <th>Given name:</th>
        <td>{{ user_dict.givenName }}</td>
    </tr>
    <tr>
        <th>Surname:</th>
        <td>{{ user_dict.surname }}</td>
    </tr>
    <tr>
        <th>Display name:</th>
        <td>{{ user_dict.displayName }}</td>
    </tr>
    <tr>
        <th>National identity numbers:</th>
        <td>
            {% for nin in user_dict.nins %}
                <dl>
                    <dt>Number</dt><dd>{{ nin.get('number') }}</dd>
                    <dt>Primary</dt><dd>{{ nin.get('primary') }}</dd>
                    <dt>Verified</dt><dd>{{ nin.get('verified') }}</dd>
                </dl>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Mail addresses:</th>
        <td>
            {% for mail in user_dict.mailAliases %}
                <dl>
                    <dt>Address</dt><dd>{{ mail.get('email') }}</dd>
                    <dt>Primary</dt><dd>{{ mail.get('primary') }}</dd>
                    <dt>Verified</dt><dd>{{ mail.get('verified') }}</dd>
                    {% if mail.get('created_by') %}
                        <dt>Added using</dt><dd>{{ mail.get('created_by') }}</dd>
                    {% endif %}
                    <dt>Added timestamp</dt><dd>{{ mail.get('created_ts')|datetimeformat }}</dd>
                    {% if  mail.get('verified_ts') %}
                        <dt>Verified timestamp</dt><dd>{{ mail.get('verified_ts')|datetimeformat }}</dd>
                    {% endif %}
                </dl>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Phone numbers:</th>
        <td>
            {% for phone in user_dict.phone %}
                <dl>
                    <dt>Number</dt><dd>{{ phone.get('number') }}</dd>
                    <dt>Primary</dt><dd>{{ phone.get('primary') }}</dd>
                    <dt>Verified</dt><dd>{{ phone.get('verified') }}</dd>
                    <dt>Added timestamp</dt><dd>{{ phone.get('created_ts')|datetimeformat }}</dd>
                </dl>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Passwords:</th>
        <td>
            {% for password in user_dict.passwords %}
                <dl>
                    <dt>Added using</dt><dd>{{ password.get('created_by') }}</dd>
                    <dt>Added timestamp</dt><dd>{{ password.get('created_ts')|datetimeformat }}</dd>
                </dl>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Terminated status:</th>
        <td>{{ user_dict.terminated|default("False") }}</td>
    </tr>
    <tr>
        <th>Language preferences:</th>
        <td>{{ user_dict.preferredLanguage }}</td>
    </tr>
{%- endmacro %}
