<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eduID support app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h3>Lookup a user using eppn, nin, mail address or phone number</h3>
    <form role="form" action="/" method="POST">
        <div class="form-group">
            <p><input type=text name=query class="form-control" placeholder="Enter search term">
            <p><button type="submit" value="Submit" class="btn btn-default">Submit</button>
        </div>
    </form>
    {% if error %}
        <h3>{{ error }}</h3>
    {% endif %}

    {% if users %}
        <h3>{{users|length}} user{% if users|length > 1 %}s were{% else %} was{% endif %} found:</h3>
        {% for item in users %}
        {% for key, value in item.items() %}
            {{ key }}: {{ value }}<br/>
        {% endfor %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <table class="table table-hover table-bordered">
                            <caption>Central DB</caption>
                            <tbody>
                                {% if item.user %}
                                    <tr>
                                        <th>eppn:</th>
                                        <td>{{ item.user.eduPersonPrincipalName }}</td>
                                    </tr>
                                    <tr>
                                        <th>Given name:</th>
                                        <td>{{ item.user.givenName }}</td>
                                    </tr>
                                    <tr>
                                        <th>Surname:</th>
                                        <td>{{ item.user.surname }}</td>
                                    </tr>
                                    <tr>
                                        <th>Display name:</th>
                                        <td>{{ item.user.displayName }}</td>
                                    </tr>
                                    <tr>
                                        <th>National Identity Numbers:</th>
                                        <td>
                                            {% for nin in item.dashboard_user.nins %}
                                                -----------<br>
                                                Number: {{ nin['number'] }}<br>
                                                Primary: {{ nin['primary'] }}<br>
                                                Verified: {{ nin['verified'] }}<br>
                                                -----------<br>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Mail addresses:</th>
                                        <td>
                                            {% for mail in item.user.mailAliases %}
                                                -----------<br>
                                                Address: {{ mail['email'] }}<br>
                                                Primary: {{ mail['primary'] }}<br>
                                                Verified: {{ mail['verified'] }}<br>
                                                {% if mail['created_by'] %}
                                                    Added using: {{ mail['created_by'] }}<br>
                                                {% endif %}
                                                Added timestamp: {{ mail['created_ts']|datetimeformat }}<br>
                                                {% if  mail['verified_ts'] %}
                                                    Verified timestamp: {{ mail['verified_ts']|datetimeformat }}<br>
                                                {% endif %}
                                                -----------<br>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Phone numbers:</th>
                                        <td>
                                            {% for phone in item.user.phone %}
                                                -----------<br>
                                                Number: {{ phone['number'] }}<br>
                                                Primary: {{ phone['primary'] }}<br>
                                                Verified: {{ phone['verified'] }}<br>
                                                Added timestamp: {{ phone['created_ts']|datetimeformat }}<br>
                                                -----------<br>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Passwords:</th>
                                        <td>
                                            {% for password in item.user.passwords %}
                                                -----------<br>
                                                Added using: {{ password['created_by'] }}<br>
                                                Added timestamp: {{ password['created_ts']|datetimeformat }}<br>
                                                -----------<br>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Terminated status:</th>
                                        <td>{{ item.user.terminated|default("False") }}</td>
                                    </tr>
                                    <tr>
                                        <th>Language preferences:</th>
                                        <td>{{ item.user.preferredLanguage }}</td>
                                    </tr>
                                {% else %}
                                    <tr><td>No data</td></tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table table-hover table-bordered">
                            <caption>Dashboard DB</caption>
                            <tbody>
                                {% if item.dashboard_user %}
                                    <tr>
                                        <th>eppn:</th>
                                        <td>{{ item.dashboard_user.eduPersonPrincipalName }}</td>
                                    </tr>
                                    <tr>
                                        <th>Given name:</th>
                                        <td>{{ item.dashboard_user.givenName }}</td>
                                    </tr>
                                    <tr>
                                        <th>Surname:</th>
                                        <td>{{ item.dashboard_user.surname }}</td>
                                    </tr>
                                    <tr>
                                        <th>Display name:</th>
                                        <td>{{ item.dashboard_user.displayName }}</td>
                                    </tr>
                                    <tr>
                                        <th>National Identity Numbers:</th>
                                        <td>
                                            {% for nin in item.dashboard_user.nins %}
                                                -----------<br>
                                                Number: {{ nin['number'] }}<br>
                                                Primary: {{ nin['primary'] }}<br>
                                                Verified: {{ nin['verified'] }}<br>
                                                -----------<br>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Mail addresses:</th>
                                        <td>
                                            {% for mail in item.dashboard_user.mailAliases %}
                                                -----------<br>
                                                Address: {{ mail['email'] }}<br>
                                                Primary: {{ mail['primary'] }}<br>
                                                Verified: {{ mail['verified'] }}<br>
                                                {% if mail['created_by'] %}
                                                    Added using: {{ mail['created_by'] }}<br>
                                                {% endif %}
                                                Added timestamp: {{ mail['created_ts']|datetimeformat }}<br>
                                                {% if  mail['verified_ts'] %}
                                                    Verified timestamp: {{ mail['verified_ts']|datetimeformat }}<br>
                                                {% endif %}
                                                -----------<br>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Phone numbers:</th>
                                        <td>
                                            {% for phone in item.dashboard_user.phone %}
                                                -----------<br>
                                                Number: {{ phone['number'] }}<br>
                                                Primary: {{ phone['primary'] }}<br>
                                                Verified: {{ phone['verified'] }}<br>
                                                Added timestamp: {{ phone['created_ts']|datetimeformat }}<br>
                                                -----------<br>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Passwords:</th>
                                        <td>
                                            {% for password in item.dashboard_user.passwords %}
                                                -----------<br>
                                                Added using: {{ password['created_by'] }}<br>
                                                Added timestamp: {{ password['created_ts']|datetimeformat }}<br>
                                                -----------<br>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Terminated status:</th>
                                        <td>{{ item.dashboard_user.terminated|default("False") }}</td>
                                    </tr>
                                    <tr>
                                        <th>Language preferences:</th>
                                        <td>{{ item.dashboard_user.preferredLanguage }}</td>
                                    </tr>
                                    <tr>
                                        <th>Verifications</th>
                                        <td>
                                            {% for verification in item.verifications %}
                                                -----------<br>
                                                Type: {{ verification.model_name }}<br />
                                                Data: {{ verification.obj_id }}<br />
                                                Added timestamp: {{ verification.timestamp|datetimeformat }}<br />
                                                Verified: {{ verification.verified }}<br />
                                                {% if verification.verified_timestamp %}
                                                    Verified timestamp: {{ verification.verified_timestamp|datetimeformat }}<br />
                                                {% endif %}
                                                -----------<br>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr><td>No data</td></tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table table-hover table-bordered">
                            <caption>Signup DB</caption>
                            <tbody>
                            {% if item.signup_user %}
                                {% for key, value in item.signup_user|dictsort %}
                                    {{ key }}: {{ value }}<br/>
                                {% endfor %}
                                <tr>
                                    <th>eppn:</th>
                                    <td>{{ item.signup_user.eduPersonPrincipalName }}</td>
                                </tr>
                                <tr>
                                    <th>Given name:</th>
                                    <td>{{ item.signup_user.givenName }}</td>
                                </tr>
                                <tr>
                                    <th>Surname:</th>
                                    <td>{{ item.signup_user.surname }}</td>
                                </tr>
                                <tr>
                                    <th>Display name:</th>
                                    <td>{{ item.signup_user.displayName }}</td>
                                </tr>
                                <tr>
                                    <th>Mail addresses:</th>
                                    <td>
                                        {% for mail in item.signup_user.mailAliases %}
                                            -----------<br>
                                            Address: {{ mail['email'] }}<br>
                                            Primary: {{ mail['primary'] }}<br>
                                            Verified: {{ mail['verified'] }}<br>
                                            {% if mail['created_by'] %}
                                                Added using: {{ mail['created_by'] }}<br>
                                            {% endif %}
                                            Added timestamp: {{ mail['created_ts']|datetimeformat }}<br>
                                            {% if  mail['verified_ts'] %}
                                                Verified timestamp: {{ mail['verified_ts']|datetimeformat }}<br>
                                            {% endif %}
                                            -----------<br>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Phone numbers:</th>
                                    <td>
                                        {% for phone in item.signup_user.phone %}
                                            -----------<br>
                                            Number: {{ phone['number'] }}<br>
                                            Primary: {{ phone['primary'] }}<br>
                                            Verified: {{ phone['verified'] }}<br>
                                            Added timestamp: {{ phone['created_ts']|datetimeformat }}<br>
                                            -----------<br>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Passwords:</th>
                                    <td>
                                        {% for password in item.signup_user.passwords %}
                                            -----------<br>
                                            Added using: {{ password['created_by'] }}<br>
                                            Added timestamp: {{ password['created_ts']|datetimeformat }}<br>
                                            -----------<br>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Terminated status:</th>
                                    <td>{{ item.signup_user.terminated|default("Not terminated") }}</td>
                                </tr>
                                <tr>
                                    <th>Language preferences:</th>
                                    <td>{{ item.signup_user.preferredLanguage }}</td>
                                </tr>
                            {% else %}
                                <tr><td>No data</td></tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if item.authn %}
                    <table class="table table-hover">
                        <caption>Authentication information</caption>
                        <tbody>
                            <tr>
                                <th>Last successful login:</th>
                                <td>{{ item.authn.success_ts|datetimeformat }}</td>
                            </tr>
                            <tr>
                                <th>Failed login attempts this month:</th>
                                <td>{{ item.authn.fail_count }}</td>
                            </tr>
                            <tr>
                                <th>Successful login attempts this month:</th>
                                <td>{{ item.authn.success_count }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
            {% endfor %}
    {% endif %}
</div>
</body>
</html>