
{% trans site_url=site_url, site_name=site_name %}
    You have chosen to terminate your account at {{ site_name }}.

    If you did not initiate this action please reset your password immediately.

    Thank you for using {{ site_name }}.

    (This is an automated email. Please do not reply.)
{% endtrans %}

