{% trans site_name=site_name, reset_password_link=reset_password_link, password_reset_timeout=password_reset_timeout %}
Hi,

You recently asked to reset your password for your {{ site_name }} account.

To change your password, click the link below:

{{ reset_password_link }}

If clicking the link does not work you can copy and paste it into your browser.

The password reset link is valid for {{ password_reset_timeout }} hours.

(This is an automated email. Please do not reply.)
{% endtrans %}
