<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>eduID support</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" href="{{ static_url_for('css/bootstrap-3.2.0.min.css') }}" /> -->
    <link rel="stylesheet" href="{{ static_url_for('css/support.css') }}" />
    <link rel="icon" href="{{ static_url_for('favicon.ico') }}" type="image/x-icon" />
    <!-- Only requests to self allowed, no parsing of js and no caching data in localStorage -->
    <meta name="htmx-config" content='{"selfRequestsOnly": true, "allowScriptTags": false, "historyCacheSize": 0}' />
  </head>
  <body hx-headers='{"X-CSRF-TOKEN": "{{ session.get_csrf_token() }}"}'>
    <div class="page-wrapper">
      <div hx-ext="response-targets">
        <div id="search-form" hx-get="/search-form" hx-trigger="load" hx-target="this" hx-target-error="#errors"></div>
        <div id="errors" class="errors"></div>
      </div>
      <!-- user data goes here -->
      <div id="user-data"></div>
    </div>
    <script
      src="{{ static_url_for('js/htmx.min@2.0.4.js') }}"></script>
    <script src="{{ static_url_for('js/htmx-ext-response-targets.min@2.0.2.js') }}"></script>
    <script src="{{ static_url_for('js/support-function.js') }}"></script>
  </body>
</html>
