<header>
  <form id="logout-form" class="form-inline" method="GET" action="{{ logout_url }}">
    <div class="eduid-logo"></div>
    <div class="form-group">
      {{ support_user.display_name }}
      <input id="search-input" type="hidden" name="csrf" value="{{ session.get_csrf_token() }}" />
      <button id="logout-button" type="submit" name="submit" class="secondary-button">Log out</button>
    </div>
  </form>
</header>
<div class="horizontal-content-margin">
  <h1>Search User</h1>
  <form
    hx-post="/search"
    hx-target="#user-data"
    hx-swap="replace"
    hx-on::after-request="this.reset()"
    class="form-group"
  >
    <div class="search-input-wrapper">
      <label for="query">Enter a user's identifier to search</label>
      <input
        id="query"
        type="text"
        name="query"
        class="form-control"
        placeholder="e.g., email address, national id or eppn"
      />
    </div>
    <button id="search-button" type="submit" value="Submit">Submit</button>
  </form>
</div>
