{% extends "base.jinja2" %}

{% block title %}{% trans %}Error{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <h2>{{ view_context.heading }}</h2>
        {% if view_context.text %}
            <p><span class="glyphicon glyphicon-info-sign"></span> {{ view_context.text }}</p>
        {% endif %}
        {% if view_context.retry_url and view_context.retry_url_txt %}
            <div >
                <a href="{{ view_context.retry_url }}">{{ view_context.retry_url_txt }}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}