<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans %}Register U2F Token{% endtrans %}</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url_for('css/bootstrap-3.2.0.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url_for('css/screen.css') }}">
</head>
<body>

<div class="container">
    <h3>{% trans %}Register U2F Token{% endtrans %}</h3>
    {% if success %}
        <div id="success">
            <div class="center-block">
                <p>{% trans %}Token successfully registered{% endtrans %}</p>
                <a href="/">{% trans %}Go to dashboard{% endtrans %}</a>
            </div>
        </div>
    {% else %}
        <div id="no-data" class="collapse">
            <div class="center-block">
                <p>{% trans %}Error: Got no data from the backend{% endtrans %}</p>
                <a href="/">{% trans %}Back</a>
            </div>
        </div>
            <div id="u2f-error" class="collapse">
            <div class="center-block">
                <p id="u2f-error-message"></p>
                <a href="/">{% trans %}Back{% endtrans %}</a>
            </div>
        </div>

        <div id="promptModal" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans %}U2F action required{% endtrans %}</h4>
              </div>
              <div class="modal-body">
                  <p>{% trans %}Please push the button on your Security Key to register{% endtrans %}</p>
              </div>
              <div class="modal-footer">
                <a class="btn btn-default" href="/">{% trans %}Abort{% endtrans %}</a>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <form method="POST" action="register-token" id="u2f-register-form">
            <input type="hidden" name="csrf_token" id="csrf_token"/>
            <input type="hidden" name="token_response" id="token_response"/>
        </form>

        <span class="dataholder" id="u2f-data" data-u2fdata='{{ data_for_client }}'></span>
    {% endif %}
</div>
<script type="text/javascript" src="{{ static_url_for('/js/libs/jquery-2.0.3.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url_for('/js/libs/bootstrap-3.2.0.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url_for('/js/u2f-api.js') }}"></script>
<script type="text/javascript" src="{{ static_url_for('/js/security-register-u2f-token.js') }}"></script>
</body>
</html>