{% extends "base.jinja2" %}

{% block title %}{% trans %}Reset password - Email{% endtrans %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>{{ form_context.heading }}</h2>
        {% if form_context.text %}
            <p><span class="glyphicon glyphicon-info-sign"></span> {{ form_context.text }}</p>
        {% endif %}
    </div>
    <div class="row">
        <form class="form" method="post" action="{{ form_context.action }}">
            <input type="hidden" id="csrf" name="csrf" value="{{ form_context.csrf_token }}">
            <div class="form-group {% if form_context.errors %}has-error{% endif %}">
                <div>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{% trans %}Email address{% endtrans %}">
                </div>
                {% if form_context.errors %}
                    {% for key, value in form_context.errors.items() %}
                        <span id="helpblock" class="help-block">{{ value[0] }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-default">{% trans %}Reset password{% endtrans %}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}