{% extends "base.jinja2" %}

{% block nav_class_home %}active{% endblock %}

{% block contents %}

    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-12">

          <form class="form-horizontal well well-large" action='{{ action }}' method="POST">
            <fieldset>
              <legend class="">{{ _("eduID login") }}</legend>

              <input type="hidden" name="key" value="{{ key }}"/>
              <input type="hidden" name="SAMLRequest" value="{{ SAMLRequest }}"/>
              <input type="hidden" name="RelayState" value="{{ RelayState }}"/>
              <input type="hidden" name="binding" value="{{ binding }}"/>
              <input type="hidden" name="authn_reference" value="{{ authn_reference }}"/>
              <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}"/>

              <div id="alert_div" class="alert alert-danger hide">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <div id="alert_msg">{{ _("Something failed, or Javascript disabled") }}</div>
              </div>

                <div class="col-md-offset-3 col-md-6">

                  <div class="control-group">
                  <!-- Username -->
                    <label class="control-label" for="username">{{ _("Email :") }}</label>
                    <div class="controls">
                      <div class="input-append">
                        <input type="text" id="username" name="username" value="{{ username }}" placeholder="" class="input-large" autofocus="autofocus">
                      </div>
                    </div>
                  </div>
    
                  <div class="control-group">
                  <!-- Password-->
                    <label class="control-label" for="password">{{ _("Password :") }}</label>
                      <div class="controls">
                        <div class="input-append">
                          <input type="password" id="password" name="password" placeholder="" class="input-large">
                        </div>
                      </div>
                      <p></p>
                      <a class="forgot-password" href="{{ password_reset_link }}">{{ _("Forgot your password?") }}</a>
                  </div>
    
                  <div class="form-actions" style="margin-bottom: 0;">
                  <!-- Button -->
                    <span>
                        <button class="btn btn-primary btn-large">{{ _("Sign in") }}</button>
                    </span>
                    <span>
                        <a class="btn btn-warning btn-large" href="{{ signup_link }}" target="_blank">{{ _("Sign up") }}</a>
                    </span>
                  </div>

                </div>
            </fieldset>
          </form>
        </div>
      </div>

{% endblock %}

{% block extrajs %}

    {%  raw %}
    <script type="text/javascript">
        $(function() {
            // Internationalization is not handled in eduid-IdP, but in a content package. This hash table
            // provides translations for known alerts from the eduid-IdP.
            var translations = {
                {% endraw %}
                'INCORRECT':  '{{ _("Incorrect username or password ({failcount} attempts)")}}'
                {% raw %}
            };

            var msg = '{alert_msg}';
            if (msg) {
                if (msg in translations) {
                    $('#alert_msg').text(translations[msg]);
                } else {
                    $('#alert_msg').text(msg);
                }
                $('#alert_div').removeClass('hide');
            } else {
                $('#alert_div').addClass('hide');
            }
        });
    </script>
    {% endraw %}

{% endblock %}
