-r main.in
-c main.txt
fastapi
loguru
https://github.com/SUNET/python-pyhsm/archive/3b867ec8e0aa2c4444e9c84444228e95fc6aaabf.zip
ndnkdf
uvicorn[standard]
python-multipart  # needed to parse form data
deepdiff6
apscheduler<4 # Next major version has API breaking changes
