-c main.txt
-r fastapi_requirements.in
-r main.in
-r satosa_scim_requirements.in
-r webapp_requirements.in
-r worker_requirements.in
mock
mypy
pip-tools
pytest
pytest-asyncio
pytest-cov
pytest-mock
pytest-xdist
respx
uv
celery-types
motor-types
ruff
