-c main.txt
-r falconapi_requirements.in
-r fastapi_requirements.in
-r main.in
-r satosa_scim_requirements.in
-r webapp_requirements.in
black==19.10b0
isort==5.6.4
mock
moto[sns]
mypy
pytest
pytest-cov
# mypy typing stubs
types-aiofiles
types-bleach
types-click
types-Flask
types-Jinja2
types-MarkupSafe
types-mock
types-orjson
types-pkg-resources
types-python-dateutil
types-PyYAML
types-redis
types-requests
types-simplejson
types-six
types-toml
types-ujson
types-Werkzeug
