-c main.txt
-r falconapi_requirements.in
-r fastapi_requirements.in
-r main.in
-r satosa_scim_requirements.in
-r webapp_requirements.in
-r worker_requirements.in
-r typecheck_requirements.in
black==22.3.0
isort==5.10.1
mock
mypy
pytest
pytest-cov
