# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on: [push, pull_request]

jobs:

  unittests:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: [3.8]
    env:
      NEO4J_VERSION: 4.0-enterprise

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          test -f test_requirements.txt && pip install --index-url https://pypi.sunet.se/simple/ -r test_requirements.txt

      - name: Fetch docker images
        run: |
          docker pull docker.sunet.se/eduid/mongodb:latest
          docker pull docker.sunet.se/library/etcd:v3.3.12
          docker pull neo4j:$NEO4J_VERSION

      - name: Test with pytest
        run: |
          make test

  typecheck:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          test -f test_requirements.txt && pip install --index-url https://pypi.sunet.se/simple/ -r test_requirements.txt
          pip install mypy

      - name: Run mypy to check types
        run: |
          make typecheck
