{% trans site_name=site_name, site_url=site_url, group_display_name=group_display_name, group_invite_url=group_invite_url %}
Hi,

You are invited to join the group {{ group_display_name }} with your {{ site_name }} account.

To accept or decline the invitation go to {{ group_invite_url }}.

If you do not have an {{ site_name }} account you can create one at
{{ site_url }}.

(This is an automated email. Please do not reply.)
{% endtrans %}

