{% trans group_display_name=group_display_name %}
    <p>Hi,</p>
    <p>Your invite to the group {{ group_display_name }} was canceled.</p>
    <p>(This is an automated email. Please do not reply.)</p>
{% endtrans %}
