
{% trans site_url=site_url, site_name=site_name %}
    You have tried to verify your account at {{ site_name }}

    We encountered a problem and kindly ask you to verify you account again using a different verification method.

    We apologize for any inconvenience.
{% endtrans %}


