{% trans site_name=site_name, verification_code=verification_code, password_reset_timeout=password_reset_timeout %}
Hi,

You recently asked to reset your password for your {{ site_name }} account.

To verify this email address belongs to you, enter the code below on the email verification page:

{{ verification_code }}

The code is valid for {{ password_reset_timeout }} hours.

(This is an automated email. Please do not reply.)
{% endtrans %}
