{% trans site_name=site_name, verification_code=verification_code, password_reset_timeout=password_reset_timeout %}
<p>Hi,</p>
<p>You recently asked to reset your password for your {{ site_name }} account.</p>
<p>To verify this email address belongs to you, enter the code below on the email verification page:</p>

<p>{{ verification_code }}</p>

<p>The code is valid for {{ password_reset_timeout }} hours.</p>
<p>(This is an automated email. Please do not reply.)</p>
{% endtrans %}
