
{% trans site_name=site_name %}
    You have chosen to terminate your account at {{ site_name }}.

    If you don't do anything the account will automatically be removed after one week.

    If you want to keep your account, reset your password within one week.

    (This is an automated email. Please do not reply.)
{% endtrans %}
