{% trans site_name=site_name, verification_code=verification_code %}
You have recently added this mail address to your {{ site_name }} account.

To verify this email address belongs to you, enter the code below on the email verification page:

{{ verification_code }}

{% endtrans %}
