{% extends "base.jinja2" %}

{% block content %}
    {% if not view_context.form_post_success %}
        <div class="row">
            <h2>{{ view_context.heading }}</h2>
            {% if view_context.text %}
                <p><span class="glyphicon glyphicon-info-sign"></span> {{ view_context.text }}</p>
            {% endif %}
        </div>
        <div class="row">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="{% if view_context.active_pane == 'generated' %}active{% endif %}"><a href="#generated-pw" aria-controls="generated-pw" role="tab" data-toggle="tab">New Password</a></li>
                <li role="presentation" class="{% if view_context.active_pane == 'custom' %}active{% endif %}"><a href="#custom-pw" aria-controls="custom-pw" role="tab" data-toggle="tab">Custom Password</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane {% if view_context.active_pane == 'generated' %}active{% endif %}" id="generated-pw">
                    <div class="well">
                        <form class="form" method="post" action="{{ view_context.action }}">
                            <input type="hidden" id="csrf" name="csrf" value="{{ view_context.csrf_token }}">
                            <input type="hidden" id="use-generated-password" name="use_generated_password" value="true">
                            <div class="form-group">
                                <div>
                                    <p>{% trans %}Your generated password is{% endtrans %}:</p>
                                    <p>
                                        <mark>{{ view_context.generated_password }}</mark>
                                    </p>
                                    <p>{% trans %}Copy and save the above password somewhere safe and click "Accept password".{% endtrans %}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-default">{% trans %}Accept
                                        password{% endtrans %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane {% if view_context.active_pane == 'custom' %}active{% endif %}" id="custom-pw">
                    <div class="well">
                        {% trans %}
                            <p><strong>Choose a strong password</strong></p>
                            <p>Some tips:</p>
                            <ul>
                                <li>Use upper- and lowercase characters (preferably not in the beginning or end)</li>
                                <li>Add digits somewhere else than at the end of the password</li>
                                <li>Add special characters, such as &#64; &#36; &#92; &#43; &#95; &#37;</li>
                                <li>Spaces are ignored</li>
                            </ul>
                        {% endtrans %}
                        <form class="form" method="post" action="{{ view_context.action }}">
                            <input type="hidden" id="csrf-custom" name="csrf" value="{{ view_context.csrf_token }}">
                            <div class="form-group {% if view_context.errors or view_context.form_post_fail_msg %}has-error{% endif %}">
                                <div id="pwd-container">
                                    <label>{% trans %}Password{% endtrans %}</label>
                                    <input type="password" class="form-control" id="custom-password" name="custom_password" placeholder="{% trans %}Password{% endtrans %}">
                                    <div class="pwstrength_viewport_progress"></div>
                                </div>

                                <div>
                                    <label>{% trans %}Repeat password{% endtrans %}</label>
                                    <input type="password" class="form-control" id="repeat-password" name="repeat_password" placeholder="{% trans %}Repeat password{% endtrans %}">
                                </div>
                                {% if view_context.errors %}
                                    {% for key, value in view_context.errors.items() %}
                                        <span id="helpblock" class="help-block">{{ value[0] }}</span>
                                    {% endfor %}
                                {% endif %}
                                {% if view_context.form_post_fail_msg %}
                                    <span id="helpblock" class="help-block">{{ view_context.form_post_fail_msg }}</span>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-default">{% trans %}Change
                                        password{% endtrans %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            {% trans login_url=view_context.login_url%}
                <p>Password has been updated successfully.</p>
                <p><a href="{{ login_url }}">Return to login page</a></p>
            {% endtrans %}
        </div>
    {% endif %}

{% endblock %}

{% block extra_jsdata %}
    <span class="dataholder" id="new-password-data"
          data-min_entropy="{{ view_context.password_entropy|default(60) }}"
          data-msg_stronger="{{ _("A stronger password is required.") }}"
          data-msg_again="{{ _("Type the same password again") }}"
            {% if view_context.zxcvbn_terms %}
          data-zxcvbn_terms='{{ view_context.zxcvbn_terms }}'
            {% endif %}
    ></span>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ static_url_for('/js/libs/zxcvbn.js') }}"></script>
    <script type="text/javascript" src="{{ static_url_for('/js/libs/pwstrength-bootstrap-1.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url_for('/js/new-password-form.js') }}"></script>
{% endblock %}
