{% extends "base.jinja2" %}

{% block title %}{% trans %}Reset password - Verify phone number{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <h2>{{ view_context.heading }}</h2>
        {% if view_context.text %}
            <p><span class="glyphicon glyphicon-info-sign"></span> {{ view_context.text }}</p>
        {% endif %}
    </div>
    <div class="row">
        <form class="form" method="post" action="{{ view_context.action }}">
            <input type="hidden" id="csrf" name="csrf" value="{{ view_context.csrf_token }}">
            <div class="form-group {% if view_context.errors or view_context.form_post_fail_msg %}has-error{% endif %}">
                <div>
                    <input type="text" class="form-control" id="phone_code" name="phone_code" placeholder="{% trans %}SMS code{% endtrans %}">
                </div>
                {% if view_context.errors %}
                    {% for key, value in view_context.errors.items() %}
                        <span id="helpblock" class="help-block">{{ value[0] }}</span>
                    {% endfor %}
                {% endif %}
                {% if view_context.form_post_fail_msg %}
                    <span id="helpblock" class="help-block">{{ view_context.form_post_fail_msg }}</span>
                {% endif %}
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-default">{% trans %}Verify phone number{% endtrans %}</button>
                </div>
            </div>
            <div >
                <a href="{{ view_context.retry_url }}">{{ view_context.retry_url_txt }}</a>
            </div>
        </form>
    </div>
{% endblock %}